{
    "presets": [
        [
            "env",
            {
                "useBuildIns": false,
                "debug": true
            }
        ],
        [
            "react"
        ]
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": true,
                "polyfill": true,
                "regenerator": true
            }
        ],
        "transform-object-rest-spread"
    ]
}